<% if @time_slots.count == 0 %>

  <h1>Please reserve a time for the call</h1>

  <%= render 'form' %>

<% else %>

  <h1>We are sorry, but no more time slots are available. Please contact insert_email_here to set up another interview</h1>

<% end %>