<!DOCTYPE html>
<html>
<head>
  <title>Patterns | <%= title = yield(:page_title); title.present? ? title : controller_name.humanize.titlecase %></title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style>
  .control-label {font-size: 2em;}
  .input[type="submit"] {
    font-size:2em;
    margin-top:10px !important;
    }
  </style>
</head>
<body>
  <%= @msg %>
</body>
</html>
