<div class="page-header">
  <h1><%=t '.title', :default => "Search Results" %></h1>
</div>

<% if @results %>
  <ol>
  <% @results.each_with_index do |result, idx| %>
    <li><%= result.inspect %></li>
  <% end %>  
  </ol>

<% else %>

<% end %>