<script> var token = '<%= @person.nil? ? false : @person.token %>'; </script>
<div id='calendar'></div>
<% if @person %>
  <%= link_to "iCal Feed", controller: 'calendar', action: :feed, token: @person.token, format: :ics %>
<% else %>
  <%= link_to "iCal Feed", controller: 'calendar', action: :feed, token: current_user.token, protocol: 'webcal', format: :ics %>
<% end %>
