<script>
var token = '<%= @person.nil? ? false : @person.token %>';
</script>
<% if current_user %>
<%= render :partial => 'layouts/v2_event_menu' %>
<% end %>
<div class='well well-sm'>
Calendar for <%= @visitor.full_name %>
</div>
<div id='calendar'></div>
<div>
<%= link_to "Add to this your calendar", controller: 'calendar', action: :feed, token: @visitor.token, protocol: 'webcal', format: :ics %>
</div>

<!-- this is where we drop our modals -->
<div id='show-reservation'></div>
<div id='show-invitation'></div>
<div id='show-event'></div>
