<p>Hello, you've been invited to a phone interview</p>

<p><%= @event.description %></p>

<p><%= link_to 'Please click to setup a time for your interview',
         new_v2_reservation_url(
           email_address: @email_address,
           event_id: @event.id
         ) %></p>

