// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.comment-byline {
	font-size: small;
	color: #ccc;
	font-style: italic;
	
	a {
		text-decoration: none;
		color: #ccc;		
	}
	
	a:hover {
		text-decoration: underline;
	}	
}

div.comment {
	margin-top: 20px; 
 	&:hover a.comment-delete-link {
		display: inline;
	}
}

a.comment-delete-link {
	display: none;
}