// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.comment-byline {
	font-size: small;
	color: #ccc;
	font-style: italic;
	
	a {
		text-decoration: none;
		color: #ccc;		
	}
	
	a:hover {
		text-decoration: underline;
	}	
}

div.comment {
	margin-top: 20px; 
 	&:hover a.comment-delete-link {
		display: inline;
	}
}

a.comment-delete-link {
	display: none;
}

#person-tag-list {
	margin: 0;
	padding: 0;
	
	li {
		list-style: none;
		border: 1px solid red;
		padding: 10px;
		display:inline-block;
		margin: 5px;

		.delete-link {
			display: none;			
		}

		&:hover {
			.delete-link {
				display: inline;
				color: #999;

			}
		}
	}
	
	.count { 
		color: #999;
	}
	
}