// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


mark {
	background-color: #CCCC99;
	padding: 5px;
}

#export-to-mailchimp-form {
	margin-top: 10px;
	display: none;
}

// this is a weird ghost thing that shows up in the tokenfield
.tt-hint{
  display:none;
}
