.navbar-text {
	font-size: small;
}

#account-dropdown {
	margin-left: 30px;

	.current-user-name {
		color: #fff;
		font-weight: bold;
		font-size: small;
	}
}

.current-user-info {
	margin: 0 15px;
	font-size: small;
}

div#page-container {
	min-height: 580px;
}

footer {
  background-color: #373737;
  padding: 15px;
  color: #eee;
  margin-top: 30px;

  .copyright {
    font-size: 9pt;

		a {
			color: #eee;
		}
  }

}

/* login/etc */

#auth-links {
	margin-top: 30px;
}

/* removes the gutter */
.no-gutter [class*="span"] {
    margin-left: 0;
    margin-right: 0;
}
